
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300;400;600&display=swap')

body {
  background-color:FCFCEE;
  font-family: 'Open Sans', sans-serif;
  color: #363732;
}

.container {
  margin: 0 auto;
  width: 80vw;
}

ul {
  list-style: none;
  padding-left: 0px;
  /*padding-right: 0;*/
  /*list-style-type: none;*/
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px 10px 20px;
  font-size: 30px;
}


li {
  display: inline;
  font-size: 30px;
  padding: 0px;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #0ddbe6;
  transition: 0.2s;
  display: inline-block;
}
a:hover {
  color: #0e767b;
}

/*div {
  background: white;
  background-color: E0EDE2;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1)
  width:650px;
  margin: 10px auto;
  text-align: center;
}*/

h2 {
  color: #E27396;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #363732;
  font-weight: 300px;
}

img {
/*   width: 150px; */
  height:150px;
  border-radius: 50%;
}

#header {
  background-color: E0EDE2;
}

#header h1 {
  color: #EA9AB2;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

#header p {
  font-family: 'Open Sans', sans-serif;
  color: #363732;
  font-weight: 300px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  background-color: #0ddbe6;
  color: white;
  padding: 16px 32px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0e767b;
  color: white;
}

.card {
  background-color: #E0EDE2;
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 2px 2px 3px rgba(0,0,0,.1);
  max-width: 650px;
  margin: 20px auto;
  text-align: center;
  font-size: 17px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
